@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');


#root {
  width: 100%;
  min-height: 100vh;
}

html, body {
  margin: 0;
  font-family: sans-serif;
  overflow-x: hidden;
  background: linear-gradient(to top right, #090911 0%, #fafafa 100%);
}


/* Title row */
.title {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  /* background: #ddd; */
}

/* Product count row */
.productCountText {
  text-align: center;
  font-size: 1.2rem;
  padding: 0.5rem;
  /* background: #eee; */
}


.inventoryPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.currency-selector {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  color: white;
}


.inventory-form {
  width: 100%;
  max-width: 1200px;
  height: 80%;
  max-height: 600px;
  overflow-y: auto;
  overflow-x: hidden;
  border-radius: 8px;
  background-color: #fff;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); */
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.25);

}

.products {
  display: flex;
  width: 70%;
}



/* Entire table */
.products-table {
  width: 100%;
  border-collapse: collapse; /* remove gaps between cells */
  font-family: Arial, sans-serif;
}

/* Header styling */
.table-header {
  background-color: #444; /* dark navbar color */
  color: white;
}

.table-header th {
  position: sticky;
  top: 0; /* stick to the top of scroll area*/
  background-color: #444; /* dark navbar color */
  color: white;
  z-index: 2; /* ensure it stays above table rows */
  padding: 0.75rem 1rem;
  text-align: left;
  font-weight: bold;
  border-bottom: 2px solid #666;
}


/* Optional: cell borders */
.products-table td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #ddd;
}

/* Table body rows */
/* .even-row {
  background-color: #555; 
}

.odd-row {
  background-color: #777; 
} */

.table-body {
  background-color: #666;
}

.table-body tr:hover {
  background-color: #888; /* hover highlight */
}

.table-cell {
  position: relative;
}

.table-cell span.arrow {
  margin-left: 5px;
  font-size: 0.8rem;
}

/* Column-specific styling */
.cell-name {
  font-weight: bold;
}




/* .cell-category {
  text-transform: capitalize;
} */

.products-table td.cell-quantity {
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-variant-numeric: tabular-nums;
  padding-left: 1rem;
}

.products-table td.cell-price {
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-variant-numeric: tabular-nums;
}

.products-table td.cell-totalValue {
  text-align: left;
  font-family: 'Inter', sans-serif;
  font-variant-numeric: tabular-nums;
  padding-left: 2rem;
}

.products-table td.cell-price::after,
.products-table td.cell-totalValue::after {
  margin-left: 2px;
  font-size: 0.9rem;
}

.products-table td.cell-dateOfPurchase {
  text-align: left;
  font-size: 0.9rem;
  padding-left: 2rem;
}

.products-table td.cell-expirationDate {
  text-align: center;
  font-size: 0.9rem;
}


.clickable {
  cursor: pointer;
  user-select: none; /* prevents text highlight on click */
}

