
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: sans-serif;
  display: block;
  background:linear-gradient(to top right, #090911 0%, #fafafa 100%);
}

/* Container grid */
.app {
  display: grid;
  grid-template-rows: 60px 300px 300px 400px; /* navbar + title + hello + products */
  grid-template-columns: 1fr;              /* single column layout */
  gap: 10px;                               /* spacing between rows */
  width: 100%;
  min-height: 100vh;
  /* background: #f5f5f5; */
}

/* Navbar */
.navbar {
  background: #444;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  font-size: 1.2rem;
  width: 100%;
}

/* Title row */
.title {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  /* background: #ddd; */
}

/* Hello message row */
.hello, .productCount {
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  /* background: #eee; */
}

/* Products row */
.products {
  display: grid;
  padding: 1rem;
  grid-template-columns: 500px; /* name, price, */
  justify-content: center;

}

/* Example products table */
.products-table {
  width: 100%;
  border-collapse: collapse;
}

.products-table th,
.products-table td {
  padding: 0.5rem;
  border-bottom: 1px solid #ccc;
  text-align: left;
}

.products-table th {
  /* background: #ddd; */
}
